.list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  list-style: none;
  padding: 0;
  font-size: 1rem;
  gap: 4rem;
  max-width: 1000px;
  margin-bottom: 200px;
}
