.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "TragicMarker";
  text-transform: uppercase;
}

.heading {
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: 300;
}

.navSpan {
  font-size: 1.4rem;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.socialSpan {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 20%;
  margin-bottom: 2rem;
}

.link {
  margin-left: 10px;
  padding: 4px;
  text-decoration: underline;
  font-weight: 300;
  color: black;
}

.linkActive {
  color: #fb0cab;
  text-decoration: none;
}

.text {
  font-family: "Inter";
  text-transform: none;
  letter-spacing: normal;
  font-size: 0.8rem;
  line-height: 1.4;
  max-width: 800px;
  padding: 0 1.4rem 0 1.4rem;
  margin-bottom: 2rem;
}

.socialLink {
  margin-right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 20%;
  background-color: pink;
}

@media screen and (max-width: 600px) {
  .socialSpan {
    padding-right: 1.4rem;
  }
}
