.yellowWrapper {
  background: linear-gradient(-70deg, #ffff66 30%, #fff 30%);
}

.wrapper {
  background-color: black;
  position: relative;
}

.imageBox {
  position: relative;
  width: 100vw;
  height: calc(100vw * 1080 / 1920);
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
}
