.yellowWrapper {
  background: linear-gradient(-70deg, #ffff66 30%, #fff 30%);
}

.wrapper {
}

.imageBox {
  position: fixed;
  width: 100vw;
  z-index: -1;
  height: 100%;
  /* height: calc(100vw * 1080 / 1920); */
}
