.linkList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 98vw;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px 0 4rem 0;
  gap: 0.6rem;
  z-index: 4;
}

.listItem {
  list-style: none;
}

.link {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 4px 12px;
  margin-left: 4px;
  color: #fff;
  position: relative;
  font-weight: 500;
}

.link:before,
.link:after {
  background-color: rgba(0, 0, 0, 0.75);
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #eaeaea;
  transform: skew(-20deg);
  -webkit-box-shadow: 3px 3px 0px 0px pink;
  -moz-box-shadow: 3px 3px 0px 0px pink;
  box-shadow: 3px 3px 0px 0px pink;
  border-radius: calc(4 * 1px);
}

.link:hover:before,
.link:hover:after {
  border: 1px solid rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  transform: skew(-20deg) translateX(3px);
  transition: 100ms ease all;
}

.linkActive {
  color: #fb0cab;
}

.link:hover,
.link:active {
  color: #ffff66;
  padding: 4px 9px 4px 12px;
  margin-left: 7px;
  transition: 100ms ease all;
}

.link:focus {
  text-decoration: underline;
  outline: none;
}

.menu {
  height: auto;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .link {
    font-size: 1rem;
  }
}
