.socialBox {
  color: black;
  font-family: "TragicMarker";
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  z-index: 2;
  display: flex;
  height: 18px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  margin-right: 40%;
  margin-bottom: 0;
}

.text {
  padding-bottom: 1px;
}

.socialLink {
  margin-left: 10px;
  height: 20px;
  width: 20px;
  border-radius: 20%;
  background-color: pink;
}

@media screen and (max-width: 600px) {
  .socialBox {
    margin-top: 6rem;
  }
}
