.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin-top: 200px;
  border-top-color: black;
  border-top-width: 2px;
  border-top-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 200px;
  position: relative;
  min-width: 300px;
  max-width: 800px;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.25);
}

.headingWrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.episodeArtOverlay {
  position: relative;
  transform: translateY(-40px);
  text-align: center;
  color: #2a2a2a;
  display: inline-block;
  -webkit-box-shadow: 10px 2px 93px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 2px 93px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 2px 93px 0px rgba(0, 0, 0, 0.35);
  height: 280px;
}

.episodeArt {
  display: block;
}

.titleWrapper {
  margin-top: auto;
  padding-bottom: 30px;
}

.title {
  font-size: 1.4rem;
  font-family: "TragicMarker";
  letter-spacing: 1px;
  color: black;
  text-align: center;
}

.date {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 1.4rem;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  z-index: -2;
  left: 50%;
  top: -44px;
  transform: translateX(-50%);
}

.description {
  padding: 0rem 2rem 2rem 2rem;
  height: auto;
  text-align: left;
  font-size: 0.9rem;
  color: black;
  font-family: Inter;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 0px;
}
