.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background-color: black;
}

.card {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 200px;
  position: relative;
  min-width: 300px;
  max-width: 800px;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 10px 10px 93px 0px rgba(255, 255, 255, 0.25);
  box-shadow: 10px 10px 93px 0px rgba(255, 255, 255, 0.25);
}

.headingWrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.episodeArtOverlay {
  position: relative;
  transform: translateY(-40px);
  text-align: center;
  color: #2a2a2a;
  display: inline-block;
  -webkit-box-shadow: 10px 2px 93px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 2px 93px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 2px 93px 0px rgba(0, 0, 0, 0.35);
  height: 280px;
}

.episodeArt {
  display: block;
}

.titleWrapper {
  margin-top: auto;
  padding-bottom: 30px;
}

.title {
  font-size: 1.4rem;
  font-family: "Barlow Semi Condensed";
  color: black;
  text-align: center;
  font-weight: 500;
}

.date {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  text-align: center;
  z-index: -2;
  left: 50%;
  top: -48px;
  transform: translateX(-50%);
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
    0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
}

.description {
  padding: 0rem 2rem 2rem 2rem;
  height: auto;
  text-align: left;
  font-size: 0.9rem;
  color: black;
  font-family: Inter;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 0px;
}
