html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline-color: #fb0cba;
  outline-width: 2px;
  outline-style: solid;
  outline-offset: 2px;
}
