@font-face {
  font-family: "TragicMarker";
  src: url("/fonts/TragicMarker.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "TragicMarker";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline-color: black;
  outline-width: 2px;
  outline-style: solid;
  outline-offset: 1px;
}
