.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
  background-color: black;
}

.title {
  position: relative;
  line-height: 1.15;
  margin-top: 100px;
  padding: 1rem 2rem;
  font-size: 6rem;
  font-family: "Barlow Semi Condensed";
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

.subtitle {
  position: relative;
  font-family: Inter;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vw * 500 / 1920);
}

.headerImage {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .title {
    font-size: 2.6rem;
  }
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
      0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
      0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}
