.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
}

.title {
  margin-top: 50px;
  padding: 1rem 2rem;
  font-size: 6rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  z-index: 4;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
    0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  padding: 5px 10px;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  z-index: 0;
  margin-bottom: 8rem;
  background-color: rgba(0, 0, 0, 0.75);
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
    0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
}

@media (max-width: 600px) {
  .title {
    font-size: 2.6rem;
    transform: translateY(22px);
  }
  .subtitle {
    font-size: 1rem;
    transform: translateY(22px);
  }
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
      0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
      0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}
