.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  text-align: center;
}

.title {
  margin-top: 50px;
  padding: 1rem 2rem;
  font-size: 6rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  z-index: 2;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
    0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
}

.subHeading {
  font-family: "Inter";
  font-weight: 200;
  font-size: 1.4rem;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 0;
  transform: translateY(22px);
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
    0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
}

.grid {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  min-width: 400px;
  max-width: 1000px;
  height: auto;
  overflow-x: hidden;
  margin-bottom: 200px;
  background: #fff;
  z-index: 2;
  padding: 2rem 0 2rem 0;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 10px 10px 93px 0px rgba(255, 255, 255, 0.25);
  box-shadow: 10px 10px 93px 0px rgba(255, 255, 255, 0.25);
}

.card {
  width: 280px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  background-color: #fff;
  color: black;
}

.card h3 {
  font-size: 1.4rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
}

.teamImage {
  flex: 1;
}

.textBox {
  transform: translateY(-60px);
  padding: 1.5rem;
  border-top-left-radius: calc(40 * 1px);
  background-color: #fff;
}

.card p {
  height: auto;
  text-align: left;
  font-size: 0.8rem;
  font-family: Inter;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: -40px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 2.6rem;
  }
  .subHeading {
    font-size: 1rem;
    transform: translateY(12px);
  }
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
      0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
      0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}
