.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  text-align: center;
}

.title {
  line-height: 1.15;
  margin-top: 40px;
  padding: 1rem 2rem;
  font-size: 6rem;

  font-family: "TragicMarker";
  text-transform: uppercase;
  font-weight: 300;
  border-color: black;
  border-bottom-style: solid;
  border-width: 2px;
}

.subHeading {
  font-family: Inter;
  font-weight: 300;
  line-height: 1.4;
  font-size: 1rem;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  max-width: 1000px;
  height: auto;
  overflow-x: hidden;
  margin-bottom: 200px;
  padding: 2rem 0 2rem 0;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.25);
}

.card {
  width: 280px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  background-color: #fff;
  color: black;
}

.card h3 {
  font-size: 1.4rem;
  font-family: "TragicMarker";
  text-transform: uppercase;
  font-weight: 200;
}

.teamImage {
  flex: 1;
}

.textBox {
  transform: translateY(-60px);
  padding: 1.5rem;
  border-top-left-radius: calc(40 * 1px);
  background-color: #fff;
}

.card p {
  height: auto;
  text-align: left;
  font-size: 0.9rem;
  font-family: Inter;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: -40px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 2.4rem;
  }
}
